.main-tables-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    overflow-x: hidden;
}

.product-card--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 910px;
}
.plans-container--slider {
    /* justify-content: center; */
    overflow-x: hidden;
}
.plans-container--slider {
    max-width: 930px;
    margin: 0 auto;
}
/* .product-card--container {
display: flex;
flex-wrap: wrap;
width: 642px;
margin: 0 auto;
}
.plans-container--slider {
    justify-content: center;
  
} */
/* .main-tables-container {
    display: flex;
    width: 642px;
} */
