:root {
    --bitcoin-orange: #f7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --gray: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 2.4rem;
    color: var(--soft-orange);
    
}
.header--title-container .header--button {
    position: absolute;
    /* centrar boton */
    /* left: calc(50% - 118px); */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    top: 270px;
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    border: none;
    border-radius: 5px;
    /* sombras */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    /* fuentes */
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url(./assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container--title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container--title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.main-tables-container {
    display: flex;
    gap: 50px;
    /* height: 316px; */
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-currency-table {
    width: 70%;
    scroll-snap-align: center;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.table-coins {
    margin-left: calc(50% - 115px);
}
.table-comission{
    margin-right: calc(50% - 115px);
}
.main-currency-table .currency-table--tilte {
    margin-bottom: 15px;
    /* display: flex;
    margin-left: 18px; */
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.main-currency-table .title-comission {
    color: #1a9af7;
}
.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table {
    width: 100%;
    height: 100%;
}
.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--gray);
    background-color: var(--just-white);
}
.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.date-comission {
    background-color: var(--soft-blue);
}
.currency-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.main-product--detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(./assets/icons/batata.svg);
}
.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p {
    margin-bottom: 32px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .icon-card {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.clock {
    background-image: url(./assets/icons/clock.svg);
}
.eye {
    background-image: url(./assets/icons/eye.svg);
}
.dollar-sign {
    background-image: url(./assets/icons/dollar-sign.svg);
}
.check-circle {
    background-image: url(./assets/icons/check-circle.svg);
}
.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body {
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./assets/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2 {
    padding-top: 64px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-bottom: 70px;
    text-align: center;
    background-color: var(--off-white);
}
.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.plans--title h2 {
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans--title p {
    margin-bottom: 32px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.plans-container--slider {
    display: flex;
    gap: 20px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 200px;
    max-width: 290px;
    height: 250px;
    margin: 20px auto 0;
    padding: 0 20px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0 10px 12px rgba(73, 73, 73, 0.16);
}
.anual {
    border: 2px solid #ae8625;
    background: linear-gradient(207.8deg, #edc967 16.69%, #ae8625 100%);
    margin-left: 50px;
}
.semestral {
    border: 2px solid #949497;
    background: linear-gradient(207.8deg, #c6c5c8 16.69%, #949497 100%);
}
.mensual {
    border: 2px solid #9c7b46;
    background: linear-gradient(207.8deg, #cea972 16.69%, #9c7b46 100%);
    margin-right: 50px;
}
.recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 8px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    /* background-color: var(--bitcoin-orange); */
    border-radius: 5px;
    /* font-family: 'Inter', sans-serif; */
    font-weight: bold;
    line-height: 1.4rem;
    color: var(--warm-black);
}
.gold {
    border: 2px solid #ae8625;
    background: linear-gradient(207.8deg, #ae8625 16.69%, #edc967 100%);
    /* background-color: #edc967; */
}
.silver {
    border: 2px solid #949497;
    background: linear-gradient(207.8deg, #949497 16.69%, #c6c5c8 100%);
}
.bronze {
    border: 2px solid #9c7b46;
    background: linear-gradient(207.8deg, #9c7b46 16.69%, #cea972 100%);
}
.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price {
    padding: 5px 0;
    font-size: 5.3rem;
    font-weight: bold;
    color: black;
    letter-spacing: -3px;
}
.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 29px;
    letter-spacing: 5px;
}
.plan-card-saving {
    font-size: 1.2rem;
    color: #464646;
}
.plan-card--ca {
    margin-top: 16px;
    margin-bottom: 15px;
    width: 150px;
    height: 48px;
    /* border: 2px solid var(--warm-black); */
    border-radius: 4px;
    background-color: var(--off-white);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--black);
    cursor: pointer;
}
.gold-button {
    border: 2px solid #edc967;
}
.silver-button {
    border: 2px solid #c6c5c8;
}
.bronze-button {
    border: 2px solid #cea972;
}
.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
    margin-left: 5px;
}

footer {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
footer ul li{
    font-size: 1.4rem;
    font-weight: 500;
    list-style: none;
    margin: 8px;
}
footer a {
    line-height: 1.8rem;
    color: var(--just-white);
    text-decoration: none;
}